POSTGRES_USER=fiapx
POSTGRES_PASSWORD=fiapx
POSTGRES_DB=fiapx
RABBITMQ_USER=fiapx
RABBITMQ_PASSWORD=fiapx
MINIO_ROOT_USER=fiapx
MINIO_ROOT_PASSWORD=fiapx-secret
JWT_SECRET=change-me-with-at-least-32-characters
